# Data wrangling part 2 : Data exploration,creating new features from existing data to better capture the underlying patterns in the data

In [1]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\modupe\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\modupe\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Users\modupe\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
# load data

df = pd.read_csv('Marketing_Data.csv')

In [4]:
# Extract features in the data

(list(df.columns))

['Income',
 'Kidhome',
 'Teenhome',
 'Recency',
 'MntWines',
 'MntFruits',
 'MntMeatProducts',
 'MntFishProducts',
 'MntSweetProducts',
 'MntGoldProds',
 'NumDealsPurchases',
 'NumWebPurchases',
 'NumCatalogPurchases',
 'NumStorePurchases',
 'NumWebVisitsMonth',
 'AcceptedCmp3',
 'AcceptedCmp4',
 'AcceptedCmp5',
 'AcceptedCmp1',
 'AcceptedCmp2',
 'Complain',
 'Z_CostContact',
 'Z_Revenue',
 'Response',
 'Age',
 'Customer_Days',
 'marital_Divorced',
 'marital_Married',
 'marital_Single',
 'marital_Together',
 'marital_Widow',
 'education_2n Cycle',
 'education_Basic',
 'education_Graduation',
 'education_Master',
 'education_PhD',
 'MntTotal',
 'MntRegularProds',
 'AcceptedCmpOverall']

In [ ]:
Column Details:Â¶
ID: Customer's Unique Identifier
Year_Birth: Customer's Birth Year
Education: Customer's education level
Marital_Status: Customer's marital status
Income: Customer's yearly household income
Kidhome: Number of children in customer's household
Teenhome: Number of teenagers in customer's household
Dt_Customer: Date of customer's enrollment with the company
Recency: Number of days since customer's last purchase
MntWines: Amount spent on wine in the last 2 years
MntFruits: Amount spent on fruits in the last 2 years
MntMeatProducts: Amount spent on meat in the last 2 years
MntFishProducts: Amount spent on fish in the last 2 years
MntSweetProducts: Amount spent on sweets in the last 2 years
MntGoldProds: Amount spent on gold in the last 2 years
NumDealsPurchases: Number of purchases made with a discount
NumWebPurchases: Number of purchases made through the company's web site
NumCatalogPurchases: Number of purchases made using a catalogue
NumStorePurchases: Number of purchases made directly in stores
NumWebVisitsMonth: Number of visits to company's web site in the last month
AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise (Target variable)
AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise (Target variable)
AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise (Target variable)
AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise (Target variable)
AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise (Target variable)
Response: 1 if customer accepted the offer in the last campaign, 0 otherwise (Target variable)
Complain: 1 if customer complained in the last 2 years, 0 otherwise
Country: Customer's location

In [6]:
max(df.Age), min(df.Age)

(80, 24)

In [7]:
max(df.Income), min(df.Income)

(113734, 1730)

In [10]:
# In order to get the distribution of age and income we need to create bins for each of them

#Age

age_bins = [0,20,30,40,50,90]
age_labels = ['Teens', 'Youth', 'Young Adult','Adult','Elder']
df['Age_Group'] = pd.cut(df['Age'], bins=age_bins, labels=age_labels)

# Income

income_bins = [0, 25000, 50000, 75000, 200000]
income_labels = ['low_income', 'medium_low', 'medium_high', 'high_income']
df['Income_Group']= pd.cut(df['Income'], bins=income_bins, labels=income_labels)

In [11]:
df

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,education_2n Cycle,education_Basic,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,Age_Group,Income_Group
0,58138,0,0,58,635,88,546,172,88,88,...,0,0,1,0,0,1529,1441,0,Elder,medium_high
1,46344,1,1,38,11,1,6,2,1,6,...,0,0,1,0,0,21,15,0,Elder,medium_low
2,71613,0,0,26,426,49,127,111,21,42,...,0,0,1,0,0,734,692,0,Elder,medium_high
3,26646,1,0,26,11,4,20,10,3,5,...,0,0,1,0,0,48,43,0,Young Adult,medium_low
4,58293,1,0,94,173,43,118,46,27,15,...,0,0,0,0,1,407,392,0,Young Adult,medium_high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,61223,0,1,46,709,43,182,42,118,247,...,0,0,1,0,0,1094,847,0,Elder,medium_high
2201,64014,2,1,56,406,0,30,0,0,8,...,0,0,0,0,1,436,428,1,Elder,medium_high
2202,56981,0,0,91,908,48,217,32,12,24,...,0,0,1,0,0,1217,1193,1,Young Adult,medium_high
2203,69245,0,1,8,428,30,214,80,30,61,...,0,0,0,1,0,782,721,0,Elder,medium_high
2204,52869,1,1,40,84,3,61,2,1,21,...,0,0,0,0,1,151,130,0,Elder,medium_high

In [12]:
# Create a new column to indicate the education level
def determine_education(row):
    if row['education_PhD'] == 1:
        return 'PhD'
    elif row['education_Master'] == 1:
        return 'Master'
    elif row['education_Graduation'] == 1:
        return 'Graduation'
    elif row['education_Basic'] == 1:
        return 'Basic'
    else:
        return 'primary'

In [13]:
# segmenting based on family size

# add all children

df['numKids'] = df['Kidhome'] + df['Teenhome']

In [15]:
refCol =['marital_Divorced', 'marital_Married','marital_Single', 'marital_Together', 'marital_Widow']

for col in refCol:
    idx = list(df.columns).index(col)
    print(f"{col} is in index position {idx}")

marital_Divorced is in index position 26
marital_Married is in index position 27
marital_Single is in index position 28
marital_Together is in index position 29
marital_Widow is in index position 30

In [16]:
# Code to get family size

col2 = ['marital_Divorced', 'marital_Married','marital_Single', 'marital_Together', 'marital_Widow']
tFSize = []
for sample in df.values:
    numKids = sample[-1]
    
    if sample[26] == 1 or sample[28]==1 or sample[30]==1:
        tFSize.append(numKids+1)
    else: 
        tFSize.append(numKids+2)

In [17]:
df['fSize'] = tFSize

In [18]:
df

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,education_Graduation,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,Age_Group,Income_Group,numKids,fSize
0,58138,0,0,58,635,88,546,172,88,88,...,1,0,0,1529,1441,0,Elder,medium_high,0,1
1,46344,1,1,38,11,1,6,2,1,6,...,1,0,0,21,15,0,Elder,medium_low,2,3
2,71613,0,0,26,426,49,127,111,21,42,...,1,0,0,734,692,0,Elder,medium_high,0,2
3,26646,1,0,26,11,4,20,10,3,5,...,1,0,0,48,43,0,Young Adult,medium_low,1,3
4,58293,1,0,94,173,43,118,46,27,15,...,0,0,1,407,392,0,Young Adult,medium_high,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,61223,0,1,46,709,43,182,42,118,247,...,1,0,0,1094,847,0,Elder,medium_high,1,3
2201,64014,2,1,56,406,0,30,0,0,8,...,0,0,1,436,428,1,Elder,medium_high,3,5
2202,56981,0,0,91,908,48,217,32,12,24,...,1,0,0,1217,1193,1,Young Adult,medium_high,0,1
2203,69245,0,1,8,428,30,214,80,30,61,...,0,1,0,782,721,0,Elder,medium_high,1,3
2204,52869,1,1,40,84,3,61,2,1,21,...,0,0,1,151,130,0,Elder,medium_high,2,4

In [19]:
# code to add colum for type of family
fSize = list(df.fSize)
fSeg = []
for val in fSize:
    if val == 1:
        fSeg.append('mono')
    elif val == 2:
        fSeg.append('duo')
    elif val == 4:
        fSeg.append('Tetra')
    else:
        fSeg.append('mega')

df['f_Seg'] = fSeg

In [20]:
df

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,education_Master,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,Age_Group,Income_Group,numKids,fSize,f_Seg
0,58138,0,0,58,635,88,546,172,88,88,...,0,0,1529,1441,0,Elder,medium_high,0,1,mono
1,46344,1,1,38,11,1,6,2,1,6,...,0,0,21,15,0,Elder,medium_low,2,3,mega
2,71613,0,0,26,426,49,127,111,21,42,...,0,0,734,692,0,Elder,medium_high,0,2,duo
3,26646,1,0,26,11,4,20,10,3,5,...,0,0,48,43,0,Young Adult,medium_low,1,3,mega
4,58293,1,0,94,173,43,118,46,27,15,...,0,1,407,392,0,Young Adult,medium_high,1,3,mega
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,61223,0,1,46,709,43,182,42,118,247,...,0,0,1094,847,0,Elder,medium_high,1,3,mega
2201,64014,2,1,56,406,0,30,0,0,8,...,0,1,436,428,1,Elder,medium_high,3,5,mega
2202,56981,0,0,91,908,48,217,32,12,24,...,0,0,1217,1193,1,Young Adult,medium_high,0,1,mono
2203,69245,0,1,8,428,30,214,80,30,61,...,1,0,782,721,0,Elder,medium_high,1,3,mega
2204,52869,1,1,40,84,3,61,2,1,21,...,0,1,151,130,0,Elder,medium_high,2,4,Tetra

In [21]:
xx= df[[ 'AcceptedCmp1','AcceptedCmp2','AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5']]

In [22]:
xx.sample(30)

      AcceptedCmp1  AcceptedCmp2  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5
1946             0             0             0             0             0
1505             0             0             1             0             0
1890             0             0             0             0             0
416              0             0             0             0             0
651              0             0             0             0             0
1849             0             0             0             0             0
1018             0             0             1             0             0
682              0             0             1             0             0
807              0             0             0             0             0
175              0             0             0             0             0
1655             0             0             0             0             0
484              0             0             0             0             0
1281             0             0             0             0             0
1022             0             0             0             0             0
1373             0             0             0             0             0
1375             0             0             0             0             0
92               0             0             0             0             0
984              0             0             0             0             0
702              0             0             0             0             0
1137             0             0             0             0             0
1169             0             0             0             0             0
1326             0             0             0             0             0
1113             1             0             0             0             0
2017             0             0             0             0             0
1399             0             0             0             0             0
2173             0             0             0             0             0
1710             0             0             0             0             0
2132             0             0             0             0             0
1050             0             0             0             0             0
646              0             0             0             0             0

In [23]:
## use of vectorization 

vec1 = [0,0,0,0,0]
vec2 = [1,0,0,0,0]
vec3 = [1,1,0,0,0]
vec4 = [1,1,1,1,1]
newList = []
campSet = set()
for row in xx.values:
    campSet.add(str(row))
    newList.append(str(row))
    
df['campVec'] = newList

In [24]:
campSet

{'[0 0 0 0 0]',
 '[0 0 0 0 1]',
 '[0 0 0 1 0]',
 '[0 0 0 1 1]',
 '[0 0 1 0 0]',
 '[0 0 1 0 1]',
 '[0 1 0 0 0]',
 '[0 1 0 1 0]',
 '[0 1 0 1 1]',
 '[0 1 1 0 0]',
 '[0 1 1 0 1]',
 '[1 0 0 0 0]',
 '[1 0 0 0 1]',
 '[1 0 0 1 0]',
 '[1 0 0 1 1]',
 '[1 0 1 0 0]',
 '[1 0 1 0 1]',
 '[1 1 0 1 0]',
 '[1 1 0 1 1]',
 '[1 1 1 0 1]'}

In [25]:
campVec_map = {
    '[0 0 0 0 0]': 'No campaign',
    '[0 0 0 0 1]': 'camppaign 5',
    '[0 0 0 1 0]': 'campaign 4',
    '[0 0 0 1 1]': 'campaign 4 and 5',
    '[0 0 1 0 0]': 'campaign 3',
    '[0 0 1 0 1]': 'campaign 3 and 5',
    '[0 1 0 0 0]': 'campaign 2',
    '[0 1 0 1 0]': 'campaign 2 and 4',
    '[0 1 0 1 1]': 'campaign 2,4 and 5',
    '[0 1 1 0 0]': 'campaign 2 and 3',
    '[0 1 1 0 1]': 'campaign 2,3 and 5',
    '[1 0 0 0 0]': 'campaign 1',
    '[1 0 0 0 1]': 'campaign 1 and 5',
    '[1 0 0 1 0]': 'campaign 1 and 4',
    '[1 0 0, 1 1]': 'campaign 1,4 and 5',
    '[1 0 1 0 0]': 'campaign 1 and 3',
    '[1 0 1 0 1]': 'campaign 1,3 and 5',
    '[1 1 0 1 0]': 'campaign 1,2 and 4',
    '[1 1 0 1 1]': 'campaign 1,2,4 and 5',
    '[1 1 1 0 1]': 'campaign 1,2,3 and 5'
}
# Map the campVec to segment names
df['Campaign_Group'] = df['campVec'].map(campVec_map)

# Display the result
print(df[['campVec', 'Campaign_Group']])

          campVec Campaign_Group
0     [0 0 0 0 0]    No campaign
1     [0 0 0 0 0]    No campaign
2     [0 0 0 0 0]    No campaign
3     [0 0 0 0 0]    No campaign
4     [0 0 0 0 0]    No campaign
...           ...            ...
2200  [0 0 0 0 0]    No campaign
2201  [1 0 0 0 0]     campaign 1
2202  [0 0 0 1 0]     campaign 4
2203  [0 0 0 0 0]    No campaign
2204  [0 0 0 0 0]    No campaign

[2205 rows x 2 columns]

In [26]:
df

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,MntTotal,MntRegularProds,AcceptedCmpOverall,Age_Group,Income_Group,numKids,fSize,f_Seg,campVec,Campaign_Group
0,58138,0,0,58,635,88,546,172,88,88,...,1529,1441,0,Elder,medium_high,0,1,mono,[0 0 0 0 0],No campaign
1,46344,1,1,38,11,1,6,2,1,6,...,21,15,0,Elder,medium_low,2,3,mega,[0 0 0 0 0],No campaign
2,71613,0,0,26,426,49,127,111,21,42,...,734,692,0,Elder,medium_high,0,2,duo,[0 0 0 0 0],No campaign
3,26646,1,0,26,11,4,20,10,3,5,...,48,43,0,Young Adult,medium_low,1,3,mega,[0 0 0 0 0],No campaign
4,58293,1,0,94,173,43,118,46,27,15,...,407,392,0,Young Adult,medium_high,1,3,mega,[0 0 0 0 0],No campaign
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,61223,0,1,46,709,43,182,42,118,247,...,1094,847,0,Elder,medium_high,1,3,mega,[0 0 0 0 0],No campaign
2201,64014,2,1,56,406,0,30,0,0,8,...,436,428,1,Elder,medium_high,3,5,mega,[1 0 0 0 0],campaign 1
2202,56981,0,0,91,908,48,217,32,12,24,...,1217,1193,1,Young Adult,medium_high,0,1,mono,[0 0 0 1 0],campaign 4
2203,69245,0,1,8,428,30,214,80,30,61,...,782,721,0,Elder,medium_high,1,3,mega,[0 0 0 0 0],No campaign
2204,52869,1,1,40,84,3,61,2,1,21,...,151,130,0,Elder,medium_high,2,4,Tetra,[0 0 0 0 0],No campaign

In [27]:
# Create a new column to indicate the marital level
def determine_marital(row):
    if row['marital_Divorced'] == 1:
        return 'Divorced'
    elif row['marital_Married'] == 1:
        return 'Married'    
    elif row['marital_Single'] == 1:
        return 'Single'
    elif row['marital_Together'] == 1:
        return 'Together'
    else:
        return 'Widow'

In [28]:
df['Marital_Group'] = df.apply(determine_marital, axis=1)